<form>
  <div class="row">
    <div class="col-xs-1 col-md-1 col-lg-1 div-icon-history">
      <fa
        class="icon-history"
        name="history">
      </fa>
    </div>
    <div class="col-xs-11 col-md-4 col-lg-4 div-history">
      <mat-list class="list-history">
        <mat-list-item class="font-color" *ngFor="let item of historyCalculates.slice().reverse()">
          {{ item }}
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-5 col-lg-5">
      <input
        id="display"
        name="display"
        class="form-control text-right display font-color"
        type="text"
        [value]="display"
        readonly>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 col-sm-1 col-lg-1">
      <button
        type="button"
        (click)="addNumber('7')"
        class="btn btn-numbers">7
      </button>
    </div>
    <div class="col-xs-3 col-sm-1 col-lg-1">
      <button
        type="button"
        (click)="addNumber('8')"
        class="btn btn-numbers">8
      </button>
    </div>
    <div class="col-xs-3 col-sm-1 col-lg-1">
      <button
        type="button"
        (click)="addNumber('9')"
        class="btn btn-numbers">9
      </button>
    </div>
    <div class="col-xs-3 col-sm-1 col-lg-1">
      <button
        type="button"
        (click)="setOperation(1)"
        class="btn btn-operators">/
      </button>
    </div>
    <div class="col-xs-3 col-sm-1 col-lg-1">
      <button
        type="button"
        (click)="clean(true)"
        class="btn btn-operators">C
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 col-sm-1 col-lg-1">
      <button
        type="button"
        (click)="addNumber('4')"
        class="btn btn-numbers">4
      </button>
    </div>
    <div class="col-xs-3 col-sm-1 col-lg-1">
      <button
        type="button"
        (click)="addNumber('5')"
        class="btn btn-numbers">5
      </button>
    </div>
    <div class="col-xs-3 col-sm-1 col-lg-1">
      <button
        type="button"
        (click)="addNumber('6')"
        class="btn btn-numbers">6
      </button>
    </div>
    <div class="col-xs-3 col-sm-1 col-lg-1">
      <button
        type="button"
        (click)="setOperation(2)"
        class="btn btn-operators">*
      </button>
    </div>
    <div class="col-xs-3 col-sm-1 col-lg-1">
      <button
        type="button"
        (click)="calculate(6)"
        class="btn btn-operators">√
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 col-sm-1 col-lg-1">
      <button
        type="button"
        (click)="addNumber('1')"
        class="btn btn-numbers">1
      </button>
    </div>
    <div class="col-xs-3 col-sm-1 col-lg-1">
      <button
        type="button"
        (click)="addNumber('2')"
        class="btn btn-numbers">2
      </button>
    </div>
    <div class="col-xs-3 col-sm-1 col-lg-1">
      <button
        type="button"
        (click)="addNumber('3')"
        class="btn btn-numbers">3
      </button>
    </div>
    <div class="col-xs-3 col-sm-1 col-lg-1">
      <button
        type="button"
        (click)="setOperation(3)"
        class="btn btn-operators">-
      </button>
    </div>
    <div class="col-xs-3 col-sm-1 col-lg-1">
      <button
        type="button"
        (click)="setOperation(4)"
        class="btn btn-operators">+
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 col-sm-1 col-lg-1">
      <button
        type="button"
        (click)="addNumber('0')"
        class="btn btn-numbers">0
      </button>
    </div>
    <div class="col-xs-3 col-sm-1 col-lg-1">
      <button
        type="button"
        (click)="addNumber('.')"
        class="btn btn-numbers">.
      </button>
    </div>
    <div class="col-xs-3 col-sm-1 col-lg-1">
      <button
        type="button"
        (click)="calculate(5)"
        class="btn btn-numbers">%
      </button>
    </div>
    <div class="col-xs-3 col-sm-2 col-lg-2">
      <button
        type="button"
        (click)="calculate(null)"
        class="btn btn-equal">=
      </button>
    </div>
  </div>
</form>
